################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ChatApplication/DesignTimeBuild
/.vs/ChatApplication/v16
/ApiCore/bin/Debug/net5.0
/ApiCore/obj
/ApiService/bin/Debug/net5.0
/LogCore/bin/Debug/net5.0
/ApiService/obj/Debug/net5.0
/ApiService/obj
/LogCore/obj
/PluginCore/bin/Debug/net5.0
/PluginCore/obj
/WebSocketPlugins/bin/Debug/net5.0
/WebSocketPlugins/obj
/.vs/ChatApplication/config
/SignalrPlugins/obj
